.myBtnContainer{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.btn{
    transition: 0.5s ease;
    margin-left: 10px;
    margin-right: 10px;
    
}
.btn:hover{
    margin-left: 15px;
    margin-right: 15px;
}
.btn.active{
    border-bottom: 1.5px solid #7cb8ce;
    border-radius: 0!important;
    color: #000;
}
.containerC{
    display: flex;
    justify-content: center;
}
.categories{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;

}

.card-img{
    height: 300px;
    transition: all 0.5s ease;
}

.delete{
    display: block;
    width: 0;
    height: 0;
    transition: all 0.5s ease;
}

.card{
    overflow: hidden;
}


.categories div img {
    width: 100%;
    transition: .5s ease-in;
}
.categories div img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.editClass{
    display: flex;
    justify-content: space-between;
}

.card-img-overlay{
    top: unset;
}
@media screen and(max-width: 960px) {
    .categories{
        grid-template-columns: repeat(2, 2fr);
       
    }
}
@media screen and(max-width: 720px) {
    .categories{
        grid-template-columns: repeat(1, 2fr);  
        padding: 0 10px;
    }
}
@media screen and(max-width: 540px) {
    .categories{
        grid-template-columns: repeat(1, 2fr);
    }
}
